/* Common Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root {
  --color-dc: #0282f9;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;

  img {
    padding: 1rem;
  }

  .header-list {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    font-weight: bold;
  }

}


/* Main */
main {
  .main-content {
    display: flex;
    align-items: center;
    min-height: 150px;
    background-color: black;
  }

  h2 {
    font-weight: bold;
    color: white;
    padding-left: 5rem;
  }

  .main-menu {
    min-height: 150px;
    padding: 4rem;
    background-color: var(--color-dc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    img {
      max-width: 50px;
    }
  }
}


/* Footer */