@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root {
  --dc-color: #0282f9;
  --lists-color: #5c5951;
  --endfooter-color: #303030;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    height: 120px;
  }

  img {
    padding: 1rem;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    font-weight: bold;
    height: 100%;

    a {
      color: black;
      text-decoration: none;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;

        border-bottom: 5px solid white;

        &:hover {
          color: var(--dc-color);
          border-bottom: 5px solid var(--dc-color);
        }
      }
    }

  }

}


/* Main */
main {
  .jumbotron {
    height: 200px;
    background-image: url(../public/img/jumbotron.jpg);
    background-size: cover;
  }

  .jumbotron-content {
    display: flex;
    align-items: center;
    min-height: 150px;
    background-color: black;

    h2 {
      font-weight: bold;
      color: white;
      padding-left: 5rem;
    }
  }


  .main-menu {
    height: 100%;
    padding: 4rem;
    background-color: var(--dc-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 250px;
    }

    img {
      max-width: 50px;
    }
  }
}


/* Footer */
footer {
  width: 100%;
  max-height: 500px;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;


  .dc {
    display: flex;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: -30%;
    }

    .dc-lists {
      display: flex;
      gap: 2rem;

      a {
        color: var(--lists-color);
        text-decoration: none;

        li {

          &:hover {
            color: var(--dc-color);

          }
        }
      }

      .first-list {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
      }

      .second-list {
        padding: 1rem;
      }

      .third-list {
        padding: 1rem;
      }

      ul {
        list-style: none;
        color: white;
        font-size: large;
        padding-bottom: 1rem;

        li {
          padding-top: 0.5rem;
          color: var(--lists-color);
        }
      }
    }
  }

  .end-footer {
    background-color: var(--endfooter-color);
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    .btn {
      background-color: var(--endfooter-color);
      border: 2px solid var(--dc-color);
      color: white;
      padding: 1rem;
    }

    .social {
      display: flex;
      gap: 1rem;
      align-items: center;

      p {
        color: var(--dc-color);
      }

    }

  }

}