/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}


/* Header */
header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;

  img {
    padding: 1rem;
  }

  .header-list {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    vertical-align: middle;
  }

}


/* Main */



/* Footer */